h1{
    color: green;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.section-1{
    margin-left: 30px;
    margin-right: 30px;
}
.first{
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 40px;
}
.p-1{
display: inline;
letter-spacing: normal;
padding-right: 20px;
margin-left: 30px;
}
.p-2{
display: inline;

}
.sub-p{
float: right;
margin-right: 150px;

}

.header-2{

}
.sub-second{

   
margin-left: 30px       ;
}
.p-3{
    display: inline;
    position: absolute;

  
}
.p-4{
    display: inline;
    margin-left: 100px;
}
.p-5{
    display: inline;
    float: right;
    margin-right: 190px;
   
}





  
 
 /*next-section-is-starting----*/
 
.header-3{

    margin-left: 44%;


}
nav{
    margin-left: 20%;
   
}

/*----next-section-is-starting----*/
.p-6{
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 40px;
    position: relative;

}
.p-6:hover{
    background-color: rgb(82, 189, 5);
    border: solid rgb(1, 148, 1) 2px;
    border-radius:40px;
    display:inline-block;
    padding:3px 6px;
        text-decoration:none;
        
    
    
    
    }
.first-h2{
    color: rgb(138, 187, 2);
    text-align: center;
    font-family: 'Lato', sans-serif; 

}
p{
    text-align: center;
}

   /*---ABOUT US--*/
    

   .first-header-of-about-{
    background-color: black;
}
.about-us{
background-color: black;
position: relative;
}
.main-about-us{
background-color: black;

}
.h2-about-us{
color: white;
padding: 50px 0px 0px 70px;
font-family: 'Lato', sans-serif;
font-size: 30px;



}
.sub-h2-part{
color: #ffffff;
left: 36%;
font-size: 30px;
position: absolute;
top: 5%;
font-family: 'Lato', sans-serif;
}
li{
font-size: 20px;
color: gray;
margin-top: 10px;
font-family: 'Lato', sans-serif;
}


ul {
    list-style: none;
  }
  
  ul li::before {
    content: "\2022";
    color: rgb(136, 255, 0);
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }

.sub-list-about-us{
margin-left: 60%;
font-size: 30px;
color: rgb(0, 0, 0); 
}

.about-iamges{

padding-left: 60px;

}

.about-paragraph-1{
    position: absolute;
color: rgb(174, 172, 172);
float: left;
font-size: 20px;
font-family: 'Lato', sans-serif;
margin-bottom: 50px;
margin-left: 40px;
}
.h4-about-us{
color: rgb(174, 172, 172);
font-size: 20px;
font-family: 'Lato', sans-serif;
padding-left: 10px;
padding-bottom: 50px;
margin-right: 20px;
margin-top: 90px;
margin-left: 40px;
}

.follow-us-images{
margin-left: 10px;
}



.h1-contact-us{
color: rgb(255, 253, 253);
position: absolute;
left: 60%;
top: 4%;
font-family: 'Lato', sans-serif;
font-size:30px;
}

.p-contact-us{


color: gray;
left: 60%;
position: absolute;
top: 23%;
font-family: 'Lato', sans-serif;
}


.phone-number{
color: gray;
left: 60%;
position: absolute;
top: 42%;
font-family: 'Lato', sans-serif;

}
.mail{
left: 60%;
position: absolute;
top: 52%;
color: gray;
font-family: 'Lato', sans-serif;
}


.paragraph-contact-us{
left: 60%;
position: absolute;
top: 65%;
color: gray;
font-family: 'Lato', sans-serif
}
.sub-paragraph-contact{
color: rgb(0, 199, 0);
}
.payment-method{
display: inline;
color: white;
left: 60%;
position: absolute;
top: 90%;
font-size: 18px;
font-family: 'Lato', sans-serif}
/*font-family: 'Lato', sans-serif;*/
